body{
    background-color: #0a0116;
    color: #c4dce6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    overflow-x: hidden;
    box-sizing: border-box;
}
a {
    color: #c4dce6;
}
img {
    height: 50%;
    z-index: -10;
    margin: -100px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}
.team-members {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: auto;
}
.team-members > * {
    margin: 10px;
}

@media (max-width: 768px) {
    img {
        margin-top: -100px;
    }
    .team-members {
        flex-direction: column;
    }
    .team-members > * {
        width: 100%;
    }
}

.terminal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
}
.cursor {
    display: inline-block;
    color: #c4dce6;
    background-color: #c4dce6;
    animation: cursor 1s infinite;
}

@keyframes cursor {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#click-to-start {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
}